:root {
    --brand: #01b5fb;
    --sub: #6ac754;
    --body: #516171;
    --border: rgba(0,0,0,0.08);
    --shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}


/*** Carousel Hero Header Start ***/
.header-carousel {
    position: relative;
  }
  
  .header-carousel .owl-nav .owl-prev {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: var(--brand);
    color: var(--bs-white);
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
  }
  
  .header-carousel .owl-nav .owl-next {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: var(--brand);
    color: var(--bs-white);
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
  }
  
  .header-carousel .owl-nav .owl-prev,
  .header-carousel .owl-nav .owl-next {
    transition: 0.5s;
  }
  
  .header-carousel .owl-nav .owl-prev:hover,
  .header-carousel .owl-nav .owl-next:hover {
    box-shadow: inset 150px 0 0 0 var(--bs-light) !important;
    color: var(--brand) !important;
  }
  
  @media (max-width: 576px) {
  
    .header-carousel .owl-nav .owl-prev,
    .header-carousel .owl-nav .owl-next {
      top: 630px;
      transition: 0.5s;
    }
  
    .header-carousel .header-carousel-item .carousel-caption .carousel-caption-content {
      width: 95% !important;
    }
  
  }
  
  .header-carousel .header-carousel-item,
  .header-carousel .header-carousel-item img {
    position: relative;
    width: 100%;
    height: 650px;
    /* margin-top: 95px; */
    display: block;
    object-fit: cover;
    transition: 0.5s;
  
  }
  
  @media (max-width: 992px) {
  
    .header-carousel .header-carousel-item,
    .header-carousel .header-carousel-item img {
      margin-top: 0;
      transition: 0.5s;
    }
  
  }
  
  @media (min-width: 992px) {
  
    .header-carousel .owl-nav .owl-prev,
    .header-carousel .owl-nav .owl-next {
      margin-top: 50px;
    }
  }
  
  .header-carousel .header-carousel-item .carousel-caption {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
  }
  
  .header-carousel .header-carousel-item .carousel-caption .carousel-caption-content {
    position: relative;
    width: 75%;
  
  }
  
  /*** Carousel Hero Header End ***/
  /*** Button Start ***/
.btn {
    font-weight: 600;
    transition: .5s;
  }
  
  .btn.btn-slide {
    /* box-shadow: inset 0 0 0 0 white; */
    background-color: var(--brand);
    color: white;
    border: none;
  }
  
  .btn.btn-slide:hover {
    /* box-shadow: inset 300px 0 0 0 var(--brand); */
    color: var(--brand) !important;
    background-color: white;
    border: 1px solid var(--brand);
  }
  /* ===================  */